Build/*.aux
Build/*.bbl
Build/*.bcf
Build/*.blg
Build/*.fdb_latexmk
Build/*.fls
Build/*.idx
Build/*.ilg
Build/*.ind
Build/*.log
Build/*.pdf
Build/*.ptc
Build/*.run.xml
Build/*.synctex.gz
Build/*.toc
Build/*.synctex.gz(busy)
Build/*.txt
Build/*.pro
src/*/eps/*.pdf
matter/eps/*.pdf
src/*/*.aux
