Build/*.aux
Build/*.bbl
Build/*.bcf
Build/*.blg
Build/*.fdb_latexmk
Build/*.fls
Build/*.idx
Build/*.ilg
Build/*.ind
Build/*.log
Build/*.pdf
Build/*.ptc
Build/*.run.xml
Build/*.synctex.gz
Build/*.toc
Build/*.synctex.gz(busy)
Build/*.txt
Build/*.pro
Build/ImageFolder
HTMLBuild/*.aux
HTMLBuild/*.bbl
HTMLBuild/*.bcf
HTMLBuild/*.blg
HTMLBuild/*.fdb_latexmk
HTMLBuild/*.fls
HTMLBuild/*.idx
HTMLBuild/*.ilg
HTMLBuild/*.ind
HTMLBuild/*.log
HTMLBuild/*.pdf
HTMLBuild/*.ptc
HTMLBuild/*.run.xml
HTMLBuild/*.synctex.gz
HTMLBuild/*.toc
HTMLBuild/*.synctex.gz(busy)
HTMLBuild/*.txt
HTMLBuild/*.pro
HTMLBuild/ImageFolder
HTMLBuild
EPUBBuild/*.aux
EPUBBuild/*.bbl
EPUBBuild/*.bcf
EPUBBuild/*.blg
EPUBBuild/*.fdb_latexmk
EPUBBuild/*.fls
EPUBBuild/*.idx
EPUBBuild/*.ilg
EPUBBuild/*.ind
EPUBBuild/*.log
EPUBBuild/*.pdf
EPUBBuild/*.ptc
EPUBBuild/*.run.xml
EPUBBuild/*.synctex.gz
EPUBBuild/*.toc
EPUBBuild/*.synctex.gz(busy)
EPUBBuild/*.txt
EPUBBuild/*.pro
EPUBBuild/ImageFolder
EPUBBuild/*.cut
EPUBBuild
src/*/eps/*.pdf
src/*/*.aux
src/*/*html_inc.tex
src/*/*.fls
src/*/*.log
src/*/eps/*.png
src/*/eps/*.ai

