% ###################################################################
% Copyright (c) 2017-2025, Editors: A.D. Rollett & M. De Graef
% All rights reserved.
%
% Licensed under the Creative Commons CC BY-NC-SA 4.0 License, 
% hereafter referred to as the "License"; you may not use this 
% document except in compliance with the License. You may obtain 
% a copy of the License at https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode. 
% Unless required by applicable law or agreed to in writing, all 
% material distributed under the License is distributed on an 
% ``AS IS'' BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, 
% either express or implied. See the License for the specific language 
% governing permissions and limitations under the License.
% ###################################################################

%----------------------------------------------------------------------------------------
%	TITLE PAGE
%----------------------------------------------------------------------------------------

\begingroup
\thispagestyle{empty}
\begin{tikzpicture}[remember picture,overlay]
\coordinate [below=11.4cm] (midpoint) at (current page.north);
\node at (current page.north west)
{\begin{tikzpicture}[remember picture,overlay]
\node[anchor=north west,inner sep=0pt] at (0,0) {\includegraphics[width=\paperwidth]{\chaptergraphicspath ##COVERIMAGE##}}; % Background image
% the book title may become a user defined variable in a later version
\draw[anchor=north] (midpoint) node [fill=ocre!30!white,fill opacity=0.6,text opacity=1,inner sep=0.6cm]{\Huge\centering\bfseries\sffamily\parbox[c][][t]{\paperwidth}{\centering ##BOOKTITLE## \\[10pt] % Book title
% book subtitle
{\Large An Open Source Chapter Collection}\\% Subtitle
{\Large Configured by ##USERNAME## on \today}\\[10pt] % Subtitle
% Editor names here
{\Large The \OC\ project is maintained by the}\\[-5pt] {\Large Department of Materials Science and Engineering}\\[-5pt] {\Large Carnegie Mellon University}}};
\end{tikzpicture}};
\end{tikzpicture}
\vfill
\endgroup

%----------------------------------------------------------------------------------------
%	COPYRIGHT PAGE
%----------------------------------------------------------------------------------------

\newpage
~\vfill
\thispagestyle{empty}

\noindent Copyright \copyright\ 2017-2026\\ % Copyright notice

\noindent \textsc{Published by the Department of Materials Science and Engineering, Carnegie Mellon University}\\ % Publisher

\noindent\textsc{Editors: xxx}\\

\noindent \textsc{Partially funded by the National Science Foundation, grants DMR-1904629 and DMR-2203378}\\ 

%\noindent \textsc{OpenChapters.web.cmu.edu}\\ % URL

\noindent Licensed under the Creative Commons CC BY-NC-SA 4.0 License, hereafter referred to as the ``License''); you may not
use this document except in compliance with the License. You may obtain a copy
of the License at \url{https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode}. Unless
required by applicable law or agreed to in writing, all material distributed
under the License is distributed on an ``AS IS'' BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.\index{license}\\ % License information

\noindent \textit{First edition, September 2020}\\ % Printing/edition date
\noindent \textit{Current edition, \monthyear}

\clearpage
%----------------------------------------------------------------------------------------
%	LIST OF CONTRIBUTING AUTHORS
%----------------------------------------------------------------------------------------
\processauthors

\clearpage
%----------------------------------------------------------------------------------------
%	TABLE OF CONTENTS
%----------------------------------------------------------------------------------------

\pagestyle{empty} % No headers
\makeatletter
\begin{tikzpicture}[remember picture,overlay]
\node at (current page.north west)
{\begin{tikzpicture}[remember picture,overlay]
\node[anchor=north west,inner sep=0pt] at (0,0) {\includegraphics[width=\paperwidth]{\chaptergraphicspath TOCheader.pdf}};
\draw[anchor=west] (\Gm@lmargin,-9cm) node [line width=2pt,rounded corners=15pt,draw=ocre,fill=white,fill opacity=0.5,inner sep=15pt]{\strut\makebox[22cm]{}};
\draw[anchor=west] (\Gm@lmargin+.3cm,-9cm) node {\huge\sffamily\bfseries\color{black}Table of Contents\strut};
\end{tikzpicture}};
\end{tikzpicture}
\par\vspace*{150\p@}
\makeatother
\renewcommand{\contentsname}{}
\tableofcontents % Print the table of contents itself
\cleardoublepage % Forces the first chapter to start on an odd page so it's on the right
\pagestyle{fancy} % Print headers again



